$main-background-color: hsl(217, 54%, 11%);
$card-background-color: hsl(216, 50%, 16%);
$line-color: hsl(215, 32%, 27%);

$hover-cyan-color: hsl(178, 100%, 50%);
$hover-color-transparent: rgba(0, 255, 247, 0.5);
$text-blue-color: hsl(215, 51%, 70%);
$white: white;
